@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


p {
	color: $color__body;
}

.background-color {
	background-color: $color__background;
}