button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	line-height: 1;
	padding: 10px 20px;
	color: $color__white;
	border: none;
	font-family: $font__header;
	

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&:focus-visible {
		border-color: red;
	}
}

.back-to-top {
	font-family: $font__header;

	&::before {
		content: "↑";
		display: inline-block;
		margin-right: 0.5em;
		transform: rotate(-90deg);
	}
}

.scroll-down {
	font-family: $font__header;

	&::after {
		content: "↑";
		display: inline-block;
		margin-left: 0.5em;
		transform: rotate(90deg);
	}
}

.custom-cursor {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	mix-blend-mode: difference;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition: transform 350ms ease;
	transform: translate(-50%, -50%) scale(.3);
	z-index: 1000;
  }
  .custom-cursor--link {
	transform: translate(-50%, -50%) scale(1);
  }
